################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/git oefenen/.vs/git oefenen/v16
/git oefenen/git oefenen/bin/Debug/netcoreapp2.2
/git oefenen/git oefenen/obj